@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/* Não colocaremos a versão pequenas telas e celular, pois já foi desenvolvida no mobile first. */

@media print { /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../images/back-print.jpg);
    }
    main {
        width: 90vw;
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impressão foi feita através do site wwww.cursoemvideo.com';
        font-size: 0.5em;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../images/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../images/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /* Grandes telas */
    body {
        background-image: url(../images/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer a {
    font-size: 0.3em;
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.688);

}